body {
    font-family: Arial, sans-serif;
    background-color: #dfc3c3;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h3 {
    color: white;
    margin-bottom: 9px;
    display: flexbox;
}

.container {
    background-color: #961a1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    color: white;
}

#res {
    margin-top: 20px;
    color: white;
    min-height: 24px;
    display: flex;
    flex-direction: column;
}